In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler    
from sklearn.metrics import confusion_matrix, accuracy_score


#importing dataset
url="https://raw.githubusercontent.com/Goutham0110/purchasing_new_product_using_logistic_regressionression/main/User_Data.csv"
df=pd.read_csv(url)
df.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [2]:
#Data pre-processing
dummies=pd.get_dummies(df['Gender'],prefix='Gender')
df=pd.concat([df,dummies],axis=1)
df.drop('Gender',inplace=True,axis=1)
X=df[['Age', 'EstimatedSalary','Gender_Female']]
Y=df[['Purchased']]

In [4]:
#splitting data
x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size = 0.1, random_state = 3)

#feature Scaling  
st_x= StandardScaler()    
x_train= st_x.fit_transform(x_train)    
x_test= st_x.transform(x_test)


#Logistic Regression model
lr=LogisticRegression(random_state=0)
lr.fit(x_train,y_train)
y_result=lr.predict(x_test)

cm=confusion_matrix(y_result,y_test)
print(cm)
print("\nThe model is",accuracy_score(y_result,y_test),"% accurate\n")

[[26  4]
 [ 3  7]]

The model is 0.825 % accurate

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [5]:
age=int(input("Enter your age:"))
Est_sal=int(input("Enter your salary:"))
Gender=int(input("Type 0 if you are a male, 1 if you are a female:"))
yhat=lr.predict([[age,Est_sal,Gender]])
if (int(yhat)==0):
  print("No, The user won't buy the product")
else:
  print("The user may buy the product")

Enter your age:20
Enter your salary:2000000
Type 0 if you are a male, 1 if you are a female:0
The user may buy the product